/* .side{
    position: relative;
}
 */
/* ------------- Social ------------- */
.social .socBox {
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
}

.social .socBox i {
  margin-right: 20px;
}

.social .socBox span {
  font-weight: 500;
}

.social .socBox:nth-child(1) {
  background:linear-gradient(-120deg, #3b5998, #0575E6, #205E9B);
}
.social .socBox:nth-child(2) {
  background:linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #e1306c, #fd1d1d);
}

/* ------------- Banner ------------- */
.banner {
  margin: 40px 0;
}

.banner img {
  width: 80%;
}

.side .categoria,
.side .categoria1 {
  position: relative;
  margin-bottom: 20px;
  padding: 5px;
}
