/* ---- FORMULARIO ---- */
.orange {
  color: #ff7a01;
}

.form-container {
  min-width: 33vw;
  margin-top: 50px;
  background-color: #001925;
  padding: 30px;
  border-left: 5px solid #ff7a01;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 20px),
    calc(100% - 20px) 100%,
    0 100%
  );
  justify-self: center;
  /* transition: all 0.5s; */
  color: white;
  border-radius: 10px;
}

.form-container .titulo {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}

.form-container .form .input {
  color: white;
  /*color: #87a4b6; Le puse color blanco este es el color que tenia anteriormente*/
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
}

.form-container .form .input:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .textarea {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #013747;
  color: white;
  font-weight: bold;
  resize: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  max-height: 150px;
  margin-bottom: 20px;
  border-left: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .textarea:focus {
  border-left: 5px solid #ff7a01;
}

.form-container .form .button-container {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.form-container .form .button-container .send-button {
  flex-basis: 70%;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.form-container .form .button-container .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
  cursor: pointer;
}

.form-container .form .button-container .reset-button-container {
  filter: drop-shadow(1px 1px 0px #ff7a01);
  flex-basis: 30%;
}

.form-container .form .button-container .reset-button-container .reset-button {
  position: relative;
  text-align: center;
  padding: 10px;
  color: #ff7a01;
  border-radius: 5px;
  font-weight: bold;
  background: #001925;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - 10px),
    calc(100% - 10px) 100%,
    0 100%
  );
  transition: all 0.2s ease-in-out;
}

.form-container
  .form
  .button-container
  .reset-button-container
  .reset-button:hover {
  background: #ff7a01;
  color: #001925;
}

.form-container .error-msg {
  color: red !important;
  font-size: 12px;
}

/* CARGAR ARCHIVO*/
.cargar-archivo {
  height: 100px;
  width: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 0.75rem;
  border-radius: 7px;
  box-shadow: 0px 48px 35px -48px rgba(0, 0, 0, 0.1);
}

.cargar-archivo .icono {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cargar-archivo .icono svg {
  height: 40px;
  fill: rgba(75, 85, 99, 1);
}

.cargar-archivo .texto {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cargar-archivo .texto span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.cargar-archivo input {
  display: none;
}

/*Botones cargar noticias*/
.eliminar-parrafo-button,
.agregar-parrafo-button,
.eliminar-etiqueta-button,
.agregar-etiqueta-button {
  color: white;
  width: 100%;
  background-color: #002733;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  border-left: 1px solid transparent;
  cursor: pointer;
}
.eliminar-parrafo-button:hover,
.agregar-parrafo-button:hover,
.eliminar-etiqueta-button:hover,
.agregar-etiqueta-button:hover {
  color: white;
  width: 100%;
  background-color: #004053;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: all 0.5s ease-in-out;
  border-left: 1px solid transparent;
  cursor: pointer;
}
.reset-button {
  cursor: pointer;
}
#imagenes,
#foto,
#portada,
#imagen {
  color: white;
  width: 100%;
  background-color: #004053;
  border: none;
  outline: none;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  border-left: 1px solid transparent;
  cursor: pointer;
}
@media (max-width: 768px) {
  .form-container {
    min-width: 33vw;
    margin-top: 150px;
    background-color: #001925;
    padding: 30px;
    border-left: 5px solid #ff7a01;
    clip-path: polygon(
      0 0,
      100% 0,
      100% calc(100% - 20px),
      calc(100% - 20px) 100%,
      0 100%
    );
    justify-self: center;
    border-radius: 10px;
    /* transition: all 0.5s; */
    color: white;
  }
}
.button-container-login .send-button {
  display: flex;
  justify-content: center;
  width: 100%;
  background: #ff7a01;
  border-radius: 5px;
  padding: 10px;
  color: #001925;
  text-align: center;
  font-weight: bold;
  font-family: "Poppins", sans-serif;

  border: 1px solid transparent;
  transition: all 0.5s ease-in-out;
}
.button-container-login .send-button:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
  font-family: "Poppins", sans-serif;

  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
.titulo-login {
  display: block;
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
