.popularNews .box {
  margin: 15px 15px 30px 0;
  height: 430px;
  box-shadow: 5px 10px 20px #bebebe;
  border-radius: 10px;
}

.popularNews img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.popularNews .images {
  position: realative;
}

.popularNews .text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 134.45px;
}