.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.btn-logout {
  flex-basis: 70%;
  background: #ff7a01;
  padding: 10px;
  color: #001925;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.btc-logout:hover {
  background: transparent;
  border: 1px solid #ff7a01;
  color: #ff7a01;
  cursor: pointer;
}
