.seccion-row .box {
  margin-bottom: 30px;
  margin-left: 2px;
}

.seccion-row .text {
  padding: 0 30px;
}

.seccion-row .images {
  width: 300px;
  height: 200px;
}

.seccion-row img {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.seccion-row h1 {
  font-size: 20px;
}

.seccion-row .desc {
  font-size: 12px;
  line-height: 0.5cm;
  max-lines: 3;
}

.seccion-row .share,
.seccion-row .fecha {
  font-size: 12px;
  padding: 5px 0;
}

@media screen and (max-width: 690px ) {
  .seccion-row .box {
    flex-direction: column;
  }
  .seccion-row .text{
    padding: 10px 10px;
  }

  .seccion-row .images {
    width: 100%;
    height: 200px;
  }
  
  .seccion-row img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
