.seccion-page .encabezado{
    margin: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.seccion-page .titulo-encabezado {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-transform: uppercase;
  }